$mobile-width: 320px;
$mobile-width-2: 360px;
$tablet-width: 768px;
$desktop-width: 980px;
$mobile-height: 550px;
$white: #fff;
$midnightblue: #2c3e50;
$asbestos: #7f8c8d;
$silver: #bdc3c7;
$background: #F2F4F7;

@mixin media-min-width($width){
  @media(min-width: $width){
    @content;
  }
}
@mixin media-max-width($width){
  @media(max-width: $width){
    @content;
  }
}
@mixin media-min-height($height){
  @media (min-height: $height){
    @content;
  }
}
@mixin media-max-height($height){
  @media (max-height: $height){
    @content;
  }
}
//import boostrap
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
//import bootstrap
//fontello
@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello.eot?84067006');
  src: url('../fonts/fontello.eot?84067006#iefix') format('embedded-opentype'),
       url('../fonts/fontello.woff2?84067006') format('woff2'),
       url('../fonts/fontello.woff?84067006') format('woff'),
       url('../fonts/fontello.ttf?84067006') format('truetype'),
       url('../fonts/fontello.svg?84067006#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?84067006#fontello') format('svg');
  }
}
*/

 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-search:before { content: '\e800'; } /* '' */
.icon-down-open:before { content: '\e801'; } /* '' */
.icon-left-open:before { content: '\e802'; } /* '' */
.icon-right-open:before { content: '\e803'; } /* '' */
.icon-dot-3:before { content: '\e804'; } /* '' */
.icon-cancel:before { content: '\e805'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-angle-down:before { content: '\f107'; } /* '' */
//fontello end

//navbar
body{
  background: $background;
  overflow-x: hidden;
}
.navbar-default{
  background: $white;
  border-color: $white;
}
.navbar{
  border-radius: 0;

  @include media-min-width($tablet-width){
    position: relative;
    height: 70px;
  }
  .container-fluid{
    @include media-min-width($tablet-width){
      margin-top: 7px;
      padding-left: 0;
      padding-right: 0;
    }
  }
}
.navbar-brand{
  letter-spacing: 1px;
  font-weight: 100;
  @include media-min-width($tablet-width){
    position: absolute;
    left: 50%;
    margin-left: -50px !important;  /* 50% of your logo width */
    display: block;
  }
  span{
    font-weight: 600;
    color: $midnightblue;
  }
}
.navbar-form{
  border-color: $white !important;

  @include media-max-width($tablet-width){
    border-color:$background !important;
  }
  span{
    color: #95a5a6;
  }
  input{
    border-color: $white;
    box-shadow: none;

    &:focus{
      border-color: $white;
      box-shadow: none;
    }
  }
}
.custom-toggle{
  width: 150px;
  padding: 0 !important;
  @include media-min-width($tablet-width){
  width: auto;
  padding: 11px 25px 15px 15px !important
  }
  img{
    @include media-min-width($tablet-width){
      width: 30px;
      height: 30px;
    }
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 1px solid $midnightblue;
  }
  .menu-text{
    margin-top:1em;
    @include media-min-width($tablet-width){
      display: none;
    }
  }
}
.drowdown-toggle{
  span{
    font-weight: 500;
  }
}
.li-menu{
  a{
    padding-right: 25px !important;
  }
  .icon-menu{
    font-size: 1.5em;
    margin-right: 5px;
  }
  .menu-text{
    position: relative;
    bottom: 1px;
  }
}

.dropdown {
  &::after{
    @include media-min-width($tablet-width){
      border-right: 1px solid $asbestos;
      height: 25px;
      content: '';
      position: absolute;
      left: 100%;
      bottom: 20%;
      display: block;
    }
  }
}
.custom-dropdown{
  &::after{
    @include media-min-width($tablet-width){
      bottom: 28%;
    }
  }
}
.navbar-collapse.in {
  position: fixed;
  overflow-y: auto;
  height: 100vh;
  width: 100vw;
  max-height: unset !important;
  @include media-max-width($tablet-width){
    background: $background;
  }
}
#nav-wrapper{
  @include media-max-width($tablet-width){
    position: absolute;
    top: 43%;
    left: 53%;
    transform: translate(-50%, -50%);
  }
}
.navbar-toggle{
  border-color: $white !important;
  padding: 0;
  color: $asbestos;

  &:hover,&:focus{
    background: $white !important;
    color: $midnightblue;
  }
  span{
    font-size: 1.5em;
  }
}
@media(min-width: $tablet-width) and (max-width: 900px){
  #nav-collapse{
    padding-left:0;
    padding-right:0;
  }
  .navbar-form{
    padding-left:10px;
    padding-right:10px;

    input{
      width:150px !important;
    }
  }
}
//navbar

//sidebar

.author-week{
  list-style: none;

  li{
    margin-top:1em;
  }
  img{
    width:60px;
    border-radius: 50%;
  }
}
.books-year{
  list-style: none;

  li{
    margin-top:1em;
  }
  img{
    width:80px;
  }
}
//sidebar

//tabs
.tabs{
  border-bottom: 1px solid $silver;
  margin-bottom: 5em;
  ul{
    margin-bottom: 0;
    list-style: none;
    li{
      padding-bottom: 10px;
      margin-left: 2.5em;
      cursor: pointer;

      &:hover{
        border-bottom: 3px solid #3498db;
      }
      h4{
        margin-top:20px;
      }
    }
  }
  .tab-active{
    border-bottom: 3px solid #3498db;
  }
}
//tabs

//cards
.book-cards{
  padding-right: 0 !important;
  background: $white;
  margin-bottom: 6em;
  min-height: 270px;
  max-height: 270px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);

  .card-container{
    height: 222px;
    border-bottom: 1px solid #E0E0E0;

    .card-info{
      padding-right: 0;
    }

    .card-menu{
      font-size: 1.5em;
      cursor: pointer;
      color: $asbestos;
      transform: rotate(-90deg);
      position: relative;
      top: 5px;
      left: 5px;
    }
  }
  &:hover{
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
  .like-container{
    height: 50px;
    img{
      width: 30px;
      border-radius: 50%;
      border: 1px solid $midnightblue;
      margin-top:9px;
      margin-left:2px;
    }
    span{
      position: relative;
      top: 6px;
      left: 15px;
    }
  }
  .book-cover{
    width: 155px;
    position: relative;
    bottom: 30px;
    padding-left: 0;
  }
}
//cards

//rating
fieldset, label { margin: 0; padding: 0; }
/****** Style Star Rating Widget *****/

.rating {
  font-size: 0.8em;
  border: none;
  float: left;
}
.custom-col{
  padding-left:0;
}
.voters{
  font-size: 0.9em;
  position: relative;
  top:4px;
  left: 4px;
}
.rating > input { display: none; }
.rating > label:before {
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before {
  content: "\f089";
  position: absolute;
}

.rating > label {
  color: #ddd;
 float: right;
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  }
//rating
