<div class="row">
  <div class="container-fluid">
    <div class="tabs col-md-12">
      <h3 class="pull-left">Popular by Genre</h3>
      <ul class="genres pull-right">
        <li class="pull-left" ng-class="{ 'tab-active': tabs.active===0}" ng-click="tabs.iterateActive(0)">
          <h4>All Genres</h4>
        </li>
        <li class="pull-left" ng-class="{ 'tab-active': tabs.active===1}" ng-click="tabs.iterateActive(1)">
          <h4>Business</h4>
        </li>
        <li class="pull-left" ng-class="{ 'tab-active': tabs.active===2}" ng-click="tabs.iterateActive(2)">
          <h4>Science</h4>
        </li>
        <li class="pull-left" ng-class="{ 'tab-active': tabs.active===3}" ng-click="tabs.iterateActive(3)">
          <h4>Fiction</h4>
        </li>
        <li class="pull-left" ng-class="{ 'tab-active': tabs.active===4}" ng-click="tabs.iterateActive(4)">
          <h4>Philosophy</h4>
        </li>
        <li class="pull-left" ng-class="{ 'tab-active': tabs.active===5}" ng-click="tabs.iterateActive(5)">
          <h4>Biography</h4>
        </li>
      </ul>
    </div>
  </div>
</div>
