<div class="row">
  <div class="container-fluid">
    <h3 class="sidebar-title col-md-offset-1 col-md-10">Author of the week</h3>
    <ul class="author-week col-md-12">
      <li class="col-md-12">
        <img class="col-md-3" src="assets/images/user.jpg"/>
        <p class="col-md-9 author-name">Sebastian Jeremy</p>
      </li>
      <li class="col-md-12">
        <img class="col-md-3" src="assets/images/user.jpg"/>
        <p class="col-md-9 author-name">Jonathan Doe</p>
      </li>
      <li class="col-md-12">
        <img class="col-md-3" src="assets/images/user.jpg"/>
        <p class="col-md-9 author-name">Angeline Summer</p>
      </li>
      <li class="col-md-12">
        <img class="col-md-3" src="assets/images/user.jpg"/>
        <p class="col-md-9 author-name">Noah Jones</p>
      </li>
      <li class="col-md-12">
        <img class="col-md-3" src="assets/images/user.jpg"/>
        <p class="col-md-9 author-name">Tommy Adams</p>
      </li>
      <li class="col-md-12">
        <img class="col-md-3" src="assets/images/user.jpg"/>
        <p class="col-md-9 author-name">Ian Cassandra</p>
      </li>
    </ul>
    <h3 class="sidebar-title col-md-offset-1 col-md-10">Books of the year</h3>
    <ul class="books-year col-md-12">
      <li class="col-md-12">
        <img class="col-md-3" src="assets/images/big magic.jpg"/>
        <div class="book-info col-md-9">
          <p class="col-md-12 book-name">Big Magic: Creative Living Beyond Fear</p>
          <p class="col-md-12 book-author">by Elizabeth Gilbert</p>
        </div>
      </li>
      <li class="col-md-12">
        <img class="col-md-3" src="assets/images/alone on the wall.jpg"/>
        <div class="book-info col-md-9">
          <p class="col-md-12 book-name">Big Magic: Creative Living Beyond Fear</p>
          <p class="col-md-12 book-author">by Elizabeth Gilbert</p>
        </div>
      </li>
      <li class="col-md-12">
        <img class="col-md-3" src="assets/images/dark murder.jpg"/>
        <div class="book-info col-md-9">
          <p class="col-md-12 book-name">Big Magic: Creative Living Beyond Fear</p>
          <p class="col-md-12 book-author">by Elizabeth Gilbert</p>
        </div>
      </li>
      <li class="col-md-12">
        <img class="col-md-3" src="assets/images/four days.jpg"/>
        <div class="book-info col-md-9">
          <p class="col-md-12 book-name">Big Magic: Creative Living Beyond Fear</p>
          <p class="col-md-12 book-author">by Elizabeth Gilbert</p>
        </div>
      </li>
      <li class="col-md-12">
        <img class="col-md-3" src="assets/images/inconceivable.jpg"/>
        <div class="book-info col-md-9">
          <p class="col-md-12 book-name">Big Magic: Creative Living Beyond Fear</p>
          <p class="col-md-12 book-author">by Elizabeth Gilbert</p>
        </div>
      </li>
    </ul>
  </div>
</div>
