<div class="row">
  <div class="container-fluid">
    <div class="col-md-5 book-cards">
      <div class="card-container clearfix">
        <img class="col-md-3 book-cover" src="assets/images/act like it.jpg"/>
        <div class="card-info col-md-8">
          <span class="card-menu icon-dot-3 pull-right"></span>
          <h4>Act Like It</h4>
          <p>by Lucy Parker</p>
          <div class="custom-col col-md-12">
            <book-rating></book-rating>
            <span class="voters">1,000,000 voters</span>
          </div>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam elit metus, scelerisque vel orci sagittis, sodales vehicula ante.</p>
        </div>
      </div>
      <div class="like-container clearfix">
        <img src="assets/images/user.jpg"/>
        <img src="assets/images/user.jpg"/>
        <img src="assets/images/user.jpg"/>
        <span>Samantha Williams and 2 other friends likes this</span>
      </div>
    </div>
    <div class="col-md-offset-1 col-md-5 book-cards">
      <div class="card-container clearfix">
        <img class="col-md-3 book-cover" src="assets/images/alone on the wall.jpg"/>
        <div class="card-info col-md-8">
          <span class="card-menu icon-dot-3 pull-right"></span>
          <h4>Alone On The Wall</h4>
          <p>by David Roberts</p>
          <div class="custom-col col-md-12">
            <book-rating></book-rating>
            <span class="voters">1,000,000 voters</span>
          </div>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam elit metus, scelerisque vel orci sagittis, sodales vehicula ante.</p>
        </div>
      </div>
      <div class="like-container clearfix">
        <img src="assets/images/user.jpg"/>
        <span>Kimberly Jones likes this</span>
      </div>
    </div>
    <div class="col-md-5 book-cards">
      <div class="card-container clearfix">
        <img class="col-md-3 book-cover" src="assets/images/the painters daughter.jpg"/>
        <div class="card-info col-md-8">
          <span class="card-menu icon-dot-3 pull-right"></span>
          <h4>The Painter's Daughter</h4>
          <p>by Julie Klassen</p>
          <div class="custom-col col-md-12">
            <book-rating></book-rating>
            <span class="voters">1,000,000 voters</span>
          </div>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam elit metus, scelerisque vel orci sagittis, sodales vehicula ante.</p>
        </div>
      </div>
      <div class="like-container clearfix">
        <img src="assets/images/user.jpg"/>
        <img src="assets/images/user.jpg"/>
        <img src="assets/images/user.jpg"/>
        <span>Samantha Williams and 2 other friends like this</span>
      </div>
    </div>
    <div class="col-md-offset-1 col-md-5 book-cards">
      <div class="card-container clearfix">
        <img class="col-md-3 book-cover" src="assets/images/dark murder.jpg"/>
        <div class="card-info col-md-8">
          <span class="card-menu icon-dot-3 pull-right"></span>
          <h4>Dark Murder</h4>
          <p>by Helen H</p>
          <div class="custom-col col-md-12">
            <book-rating></book-rating>
            <span class="voters">1,000,000 voters</span>
          </div>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam elit metus, scelerisque vel orci sagittis, sodales vehicula ante.</p>
        </div>
      </div>
      <div class="like-container clearfix">
        <img src="assets/images/user.jpg"/>
        <img src="assets/images/user.jpg"/>
        <img src="assets/images/user.jpg"/>
        <span>Samantha Williams and 2 other friends like this</span>
      </div>
    </div>
    <div class="col-md-5 book-cards">
      <div class="card-container clearfix">
        <img class="col-md-3 book-cover" src="assets/images/alex ferguson.jpg"/>
        <div class="card-info col-md-8">
          <span class="card-menu icon-dot-3 pull-right"></span>
          <h4>Alex Ferguson: My Autobiography</h4>
          <p>by Alex Ferguson</p>
          <div class="custom-col col-md-12">
            <book-rating></book-rating>
            <span class="voters">1,000,000 voters</span>
          </div>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam elit metus, scelerisque vel orci sagittis, sodales vehicula ante.</p>
        </div>
      </div>
      <div class="like-container clearfix">
        <img src="assets/images/user.jpg"/>
        <img src="assets/images/user.jpg"/>
        <img src="assets/images/user.jpg"/>
        <span>Samantha Williams and 2 other friends like this</span>
      </div>
    </div>
    <div class="col-md-offset-1 col-md-5 book-cards">
      <div class="card-container clearfix">
        <img class="col-md-3 book-cover" src="assets/images/the devils playground.jpg"/>
        <div class="card-info col-md-8">
          <span class="card-menu icon-dot-3 pull-right"></span>
          <h4>The Devils Playground</h4>
          <p>by Eliza Freed</p>
          <div class="custom-col col-md-12">
            <book-rating></book-rating>
            <span class="voters">1,000,000 voters</span>
          </div>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam elit metus, scelerisque vel orci sagittis, sodales vehicula ante.</p>
        </div>
      </div>
      <div class="like-container clearfix">
        <img src="assets/images/user.jpg"/>
        <img src="assets/images/user.jpg"/>
        <img src="assets/images/user.jpg"/>
        <span>Samantha Williams and 2 other friends like this</span>
      </div>
    </div>
  </div>
</div>
